html {background-color: #1E90FF}
.chess-cell-class-0 {background-color: #C4D7E3}
.chess-cell-class-1 {background-color: #EFEFEF}

td {
   width: 80px;
   height: 80px;
   text-align: center;
   font-size: 3em;
}
